:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-text-color: #ffffff;
  --accent-color: #2196f3;
  --black-logo-color: #000000;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --white-background-color: #ffffff;
  --hero-background-color: #2f303a;
  --team-background-color: #f5f4fa;
  --border-cart-color: #eeeeee;
  --border-header-color: #ececec;
  --icon-color: #afb1b8;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  background-color: var(--white-background-color);
  color: var(--primary-text-color);
}

html {
  box-sizing: border-box;
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для обнуления верхних отступов у элементов */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  padding-left: 0px;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid var(--border-header-color);
}

.header-contact-list {
  align-items: center;
}

.header-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  padding-top: 0px;
}

/* убираем точки списков */
.list {
  list-style: none;
  display: flex;
  padding-left: 0;
  margin: 0;
}

/* убираем подчеркивание ссылок */
.link {
  text-decoration: none;
  color: inherit;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.logo-header {
  margin-right: 93px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--primary-text-color);
  margin-bottom: 0px;
}

.section-padding {
  padding-top: 94px;
}

.footer-contact-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--footer-text-color);
}

.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/* ------------ШАПКА-------------- */

.header {
  height: 80px;
}

.logo-black {
  color: var(--black-logo-color);
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
}

.header-nav-list {
  display: flex;
}

.header-nav-item:not(:last-child) {
  margin-right: 50px;
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--secondary-text-color);
}

.header-contact-item:not(:last-child) {
  margin-right: 50px;
}

.header-nav-link:hover,
.header-nav-link:focus,
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

.header-contact-icon {
  fill: currentColor;
  margin-right: 10px;
}

.header-contact-link {
  display: flex;
  align-items: center;
}

/* ------------ГЕРОЙ-------------- */

.hero {
  background-color: var(--hero-background-color);
  /* background-image: url("../images/hero.jpg"); */
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  /* object-fit: fill; */
  min-height: 600px;
  margin-top: 0px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0px;
}

.hero-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  color: var(--white-text-color);
  cursor: pointer;
  min-width: 200px;
  min-height: 50px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--white-text-color);
  color: var(--accent-color);
}

/* ------------ПРЕИМУЩЕСТВА-------------- */

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.features-item:not(:last-child) {
  margin-right: 30px;
  margin-left: 0px;
}

.feature-icon-block {
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

/* ------------СПИСОК ЗАНЯТИЙ-------------- */
.work-sections {
  padding-bottom: 94px;
}

.work-list {
  margin-top: 50px;
}

/* ----------------КОМАНДА----------------- */

.team-section {
  background-color: var(--team-background-color);
  margin-bottom: 0px;
  padding-bottom: 94px;
}

.team-list {
  margin-top: 50px;
}

.team-worker {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-worker-data {
  padding-top: 30px;
  padding-bottom: 30px;
}

.team-profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  min-height: 19px;
  margin-bottom: 0px;
  margin-top: 10px;
}

.team-item {
  background-color: var(--white-background-color);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.work-item:not(:last-child) {
  margin-right: 30px;
}

.command-media-list {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
}

.command-media-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  color: var(--icon-color);
  justify-content: center;
  align-items: center;
}

.media-icon {
  fill: currentColor;
}

.command-media-link:hover,
.command-media-link:focus {
  background-color: var(--accent-color);
  color: var(--white-background-color);
}

/* ----------------КЛИЕНТЫ----------------- */
.our-clients-section {
  padding-bottom: 94px;
}

.client-list {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.clients-item {
  list-style-type: none;
}

.clients-link {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
  border-color: #2196f3;
  color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* ----------------ПОДВАЛ----------------- */
.footer {
  background-color: var(--hero-background-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  display: inline-block;
}

.logo-white {
  color: var(--white-text-color);
}

.footer-contact-item:not(:first-child) {
  margin-top: 9px;
}

.footer-contact-link.address {
  color: var(--white-text-color);
}

.footer-contact-list {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.container-footer {
  display: flex;
}

.footer-media-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white-text-color);
}

.footer-media {
  display: block;
  margin-left: 70px;
}

.footer-media-list {
  width: 206px;
  margin-left: auto;
  margin-right: auto;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin-top: 16px;
}

.footer-media-link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  color: var(--white-text-color);
  background: rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
}

.footer-media-icon {
  fill: currentColor;
}

.footer-media-link:hover,
.footer-media-link:focus {
  background-color: var(--accent-color);
  color: var(--white-background-color);
}

/* ---------------------------------------------- */
/* --------------------ПОРТФОЛИО----------------- */
/* ---------------------------------------------- */
.portfolio-btn {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  background-color: var(--team-background-color);
  color: var(--primary-text-color);
  cursor: pointer;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border-radius: 4px;
}

.portfolio-section {
  padding-bottom: 94px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
}

.portfolio-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.container-portfolio {
  margin-top: 50px;
}

.portfolio-btn-list {
  display: flex;
  justify-content: center;
}

.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}

.portfolio-list {
  flex-wrap: wrap;
}

.portfolio-item {
  margin-top: 30px;
  max-width: 370px;
  border: 1px solid var(--border-cart-color);
}

.portfolio-item-description {
  padding-top: 20px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
}

.portfolio-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list {
  margin-top: -30px;
}

.portfolio-list-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

.portfolio-item:not(:nth-child(3n + 3)) {
  margin-right: 30px;
}
